.formWrapper {
    margin: 0.5em;
}

.searchFieldWrapper {
    float: left;
    margin: 0.5em;
}

.searchFieldLabel {
    display: block;
}

.searchFieldInput {
    display: block;
}

br {
    clear:both;
}
